*{
    margin:10;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.contact{
    background-color: rgb(164, 177, 172) ;
    padding: 50px;
   
}
.contact h1{
    text-align: center;
    color: rgb(70, 60, 60);
    margin-top: -40px;
    padding: 15px;
}
.border{
    width: 100px;
    height: 15px;
    background:rgb(164,177,172);
    margin-top: -25px;

}
.info{
    max-width: 600px;
    margin: auto;
    padding: 0 50px;
    overflow: hidden;
}
.info-text{
    display:block;
    box-sizing: border-box;
    background: rgb(44, 52, 56);
    width: 95%;
    padding:20px 40px;
    margin: 16px;
    border: 0;
    outline:none ;
    color: rgb(151, 107, 107);
}
.info-text:hover{
    box-shadow: 0 0 14px 8px rgb(121, 172, 161);
}
textarea.info-text{
    resize: none;
    height:100px;
}
.info-btn{
    float:right;
    background:rgb(142, 163, 165) ;
    color: rgb(234, 241, 240);
    padding:10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.8s;

}